<form id="loginForm">
	<h2>Login</h2>
	<table>
		<tr>
			<td><label for="username">Username/Mail:</label></td>
			<td><input id="username" type="text"></td>
		</tr>
		<tr>
			<td><label for="password">Passwort:</label></td>
			<td><input id="password" type="password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Abschicken"></td>
		</tr>
	</table>
</form>