<div class="panel panel-default">
    <div class="panel-heading">Rezepte (<%= numRecipes %>)</div>
    <div class="table-responsive">
        <table id="recipeTable" class="table">
            <tr>
                <th>Name</th>
                <th>Eingefügt</th>
                <th>Views</th>
                <th>Status</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>
