<nav class="navbar navbar-default" role="navigation">
    <p class="navbar-text">Tags</p>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
    </form>
</nav>

<div id="tagSuggestedView" class="panel panel-default"></div>
<div id="tagList" class="panel panel-default"></div>

