<td class="id <% if(orderBy === 'id') {%>active<% } %>"><%= id %></td>
<td class="name <% if(orderBy === 'name') {%>active<% } %>"><%= name %></td>
<td class="createDate <% if(orderBy === 'createDate') {%>active<% } %>"><%= createDate.toLocaleDateString() %></td>
<td class="lastLogin <% if(orderBy === 'lastLogin') {%>active<% } %>"><% if(lastLogin === -1) { print('nie'); } else { print(new Date(lastLogin).toLocaleDateString()); } %></td>
<td class="level <% if(orderBy === 'level') {%>active<% } %>">
    <% if(level === 0){ %>
    <span class="label label-success">aktiv</span>
    <% } %>
    <% if(level === 2){ %>
    <span class="label label-warning">admin</span>
    <% } %>
    <% if(facebookID > 0){ %>
    <span class="label label-primary">Facebook</span>
    <% } %>
</td>
<td><a href="#user/<%= id %>">Details</a></td>
