<div class="panel-heading">User (<%= numUsers %>)</div>
<table id="userlistHeadline" class="table">
    <tr>
        <th class="id">Id</th>
        <th class="name">Name</th>
        <th class="registration">Angemeldet seit</th>
        <th class="lastlogin">Letzte Anmeldung</th>
        <th>Status</th>
        <th></th>
    </tr>
</table>
