<div class="panel panel-default">
    <div class="panel-heading">
        <h4><%= name %></h4>
    </div>
    <div class="panel-body">
        <span class="label label-default">Versionen: <%= numVersions %></span>
        <span class="label label-default">Tags: <span class="numTags"></span></span>
    </div>
    <ul class="list-group"></ul>
</div>
